*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
}
.container{
max-width: 1440px;
width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}
.left{
     margin-top: 45px;
}
.one{
    display: flex;
}

.oz{
    width: 76px;
    height: 15px;
    color: #424242;
    margin-left:14px;
    font-size: 36px;
}
.head_main{
    width: 600px;
    height: 650px;
    margin-top: 20px;
    margin-left: 350px;
    border-radius: 50px ;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #DEDBDB;
    padding: 15px;
}
.leftt{
    margin-left: 65px;
}
.rightt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h2{
    color: #F0400F;
   font-family: 'Inter';
   font-size: 24px;

}
.space{
font-family: 'Inter';
font-size: 48px;
font-weight: 700;
line-height: 58.09px;
margin-top: 90px;
color: #0E0D5D;
}

form{
    border-radius: 20px;
    justify-content: center;  
    margin-left: 30px;
}
input{
    width: 400px;
    height: 50px;
    margin-top: 20px; 
    justify-content: center;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #FAFAFA;
}

h3{
font-family: 'Inter';
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
text-align: center;
margin-top: 18px;
color: #424242;
}
button{
width: 200px;
height: 50px;
border-radius: 20px;
background-color:  #F69E86;
border: 1px solid #F69E86;
color: #FFFFFF;
font-size: 20px;
margin-top: 31px;
margin-left: 250px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}